<div class="w-screen h-screen overflow-x-hidden bg-[url('/assets/backgroundImages/fondoBiblioteca.png')]">
  
  <div class="m-5">
    <a href="/home-page" class="bg-cyan-500 text-white px-4 py-2 rounded-md">
      Go back
    </a>
  </div>

  <div class="bg-[#e1f4f7] mx-10 p-5 rounded-md opacity-90 overflow-y-auto shadow-md max-w-3xl mx-auto flex flex-col gap-4">

    <h1 class="text-2xl font-bold text-center">
      Carrito
    </h1>

    <div *ngIf="cartItems$ | async as cartItems; else emptyCart">

      <div
        *ngFor="let book of cartItems"
        class="flex justify-between items-center border-b pb-2"
      >
        <span>
          {{ book.title }} ({{ book.price }}€)
        </span>

        <button
          class="cursor-pointer bg-red-500 text-white px-2 rounded"
          (click)="removeFromCart(book.id)"
        >
          -
        </button>
      </div>

      <p class="text-xl font-semibold text-right mt-4">
        Total: {{ totalPrice(cartItems) }}€
      </p>

      html<select
  [(ngModel)]="selectedDirection"
  [ngModelOptions]="{ standalone: true }"
  class="border border-cyan-300 rounded-md p-1 text-sm w-full mt-2"
>
  <option [ngValue]="null" disabled>Selecciona una dirección</option>
  <option *ngFor="let dir of authService.currentUser?.directions" [ngValue]="dir">{{ dir }}</option>
</select>
    <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" (click)="buyCart()">
        Comprar carrito
    </button>

    </div>

    <ng-template #emptyCart>
      <div class="text-center text-gray-600">
        El carrito está vacío
      </div>
    </ng-template>

  </div>

</div>
