<div class="w-screen h-screen overflow-hidden bg-[url('/assets/backgroundImages/fondoBiblioteca.png')]">
<div class="mx-1 my-2">
    <a href="" class="p-1 bg-cyan-500 text-md border-2 border-[#e1f4f7] rounded-md text-[#e1f4f7]"> Go Back </a>
</div>
<div class="grid place-items-center h-[210px] py-1">
  <div class="relative border-2 border-[#e1f4f7] h-[210px] text-[#e1f4f7] bg-cyan-500 p-4 rounded-md">
    Login In Your Account
    <form [formGroup]="userForm" class="flex flex-col py-1 gap-[2px]">
        <label>Username</label>
        <input type="text" placeholder="Insert your Username" class="relative text-black bg-[#e1f4f7]" formControlName="username"/>

        <label>Password</label>
        <input type="text" placeholder="Insert your Password" class="relative text-black bg-[#e1f4f7]" formControlName="password"/>
    </form>
    <button (click)="submitLogin()" class="absolute bottom-4 right-4 text-cyan-500 bg-[#e1f4f7] ml-1 rounded-md">
        Submit
    </button>
  </div>
</div>
</div>

