
<div class="w-screen h-screen bg-[url('/assets/backgroundImages/fondoBiblioteca.png')]">

    <div class="flex inline-flex items-center bg-auto bg-cyan-500 w-full h-auto"> 
        <h1 class="text-3xl text-[#e1f4f7] font-semibold"> Bienvenido a Bookadona </h1>
        <div class= "ml-auto px-3">
            <a href="/login" class="px-3 text-md border-2 border-[#e1f4f7] rounded-md text-[#e1f4f7]">Login</a>
            <a href="/sign-up" class="px-3 text-md border-2 border-[#e1f4f7] rounded-md text-[#e1f4f7]">Sign Up</a>
        </div>
    </div>
    <div class="bg-[#e1f4f7] mr-10 ml-10 mt-5 p-5 rounded-md opacity-90 overflow-y-auto">
        <h2 class="text-2xl font-semibold mb-2">Descubre una nueva forma de leer con Bookadona</h2>
        <p class="text-md">En Bookadona, nuestra misión es acercarte a un mundo de conocimiento y entretenimiento a través de una amplia selección de libros digitales. Ya sea que busques novelas cautivadoras, libros de autoayuda inspiradores o textos académicos esenciales, tenemos algo para cada lector.</p>
        <h3 class="text-xl font-semibold mt-4 mb-2">Qué ofrecemos:</h3>
        <h4 class="text-lg font-semibold mt-2"> Compra de libros en diversos formatos:</h4>
        <p> En bookadona puedes acceder a inumerables libros de forma sencilla en diversos formatos y con 
            diversas opciones de pago y envío.
        </p>
    </div>

</div>

